# Ignore le dossier VS Code
.vscode/

# Ignore les fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# Ignore l'environnement virtuel
env/
env/
*.egg-info/

# Ignore Data
data/

#
checkpoints/

results/
!results/model_20250730_1539.pth

uploads/
*.pdf


# Node / React frontend
node_modules/
frontend/node_modules/
frontend/dist
frontend/.vite
*.log