<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EndoPathologist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    {% set bg_color = (
        '#890089' if dominant_class == 'Cancer' else
        '#c20000' if dominant_class == 'Dysplasia' else
        '#ae9714' if dominant_class == 'IM' else
        '#009cc7' if dominant_class == 'AG' else
        '#018f48' if dominant_class == 'Normal' else
        '#e6f6ff'
    ) %}
    <div class="background" style="background-color: {{ bg_color }}">
        <form method="POST" enctype="multipart/form-data">
            <label class="custom-upload">
                UPLOAD
                <input type="file" name="image" accept="image/*" required hidden onchange="showFileName(this)">
            </label>
            <span id="file-name">No file selected</span>

            <button class="process-btn" type="submit">PROCESS</button>
        </form>

        {% if scores %}
            <div class="result-box">
                <img src="{{ result_img }}" class="output-image">
                <div class="score-bar">
                    <span style="color: #018f48;">Normal: {{ "%.2f"|format(scores.Normal) }}%</span> &nbsp;&nbsp;
                    | <span style="color: #ae9714;">IM: {{ "%.2f"|format(scores.IM) }}%</span> &nbsp;&nbsp;
                    | <span style="color: #009cc7;">AG: {{ "%.2f"|format(scores.AG) }}%</span> &nbsp;&nbsp;
                    | <span style="color: #c20000;">Dysplasia: {{ "%.2f"|format(scores.Dysplasia) }}%</span> &nbsp;&nbsp;
                    | <span style="color: #890089;">Cancer: {{ "%.2f"|format(scores.Cancer) }}%</span>
                </div>

            </div>
        {% endif %}
    </div>

    <script>
        function showFileName(input) {
            const file = input.files[0];
            if (file) {
                document.getElementById("file-name").textContent = file.name;
            }
        }
    </script>

</body>
</html>
