<!DOCTYPE html>
<html>
<head>
  <title>EndoAI</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  <meta http-equiv="refresh" content="4;url=/home">
  <style>
    body {
      margin: 0;
      background-color: #e6f6ff;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    video {
      width: 90vw;
      max-width: 1500px;
      height: auto;
    }

    @media (max-width: 480px) {
      video {
        width: 90vw;
        max-width: 320px;
      }
    }
  </style>
</head>
<body>
  <video autoplay muted playsinline>
    <source src="{{ url_for('static', filename='logo_intro.mp4') }}" type="video/mp4">
  </video>
</body>
</html>
